trigger:
  batch: true
  branches:
    include:
      - "main"
    exclude:
      - "*"

pr:
  branches:
    include:
      - "*"

variables:
  - name: SolutionBaseName
    value: MyApprenticeship
  - name: BuildConfiguration
    value: release
  - name: BuildPlatform
    value: any cpu
  - group: RELEASE Management Resources
  - group: RELEASE das-apprentice-app
  - group: RELEASE das-apprentice-app-wrapper-ios
  - name: Deploy
    value: $[or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'Manual'))]

resources:
  repositories:
    - repository: self
    - repository: das-platform-building-blocks
      type: github
      name: SkillsFundingAgency/das-platform-building-blocks
      ref: refs/heads/DASD-14249
      endpoint: SkillsFundingAgency
    - repository: das-platform-automation
      type: github
      name: SkillsFundingAgency/das-platform-automation
      ref: refs/tags/5.1.17
      endpoint: SkillsFundingAgency
  pipelines:
    - pipeline: das-employer-config
      project: Digital Apprenticeship Service
      source: das-employer-config
      branch: master

stages:
  - stage: Build
    jobs:
      - template: pipeline-templates/job/code-build.yml
        parameters:
          SolutionBaseName: $(SolutionBaseName)
          BuildConfiguration: $(BuildConfiguration)

  - stage: Deploy_TestFlight
    dependsOn: Build

    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          ArtifactName: $(SolutionBaseName)
          DistributionTarget: 'TestFlight'
          Environment: 'TestFlight'

#  - stage: Deploy_AppStore
#    dependsOn: Deploy_TestFlight
#    condition: and(succeeded(), eq(variables['Deploy'], 'true'))
#    jobs:
#      - template: pipeline-templates/job/deploy.yml
#        parameters:
#          ArtifactName: $(SolutionBaseName)
#          DistributionTarget: 'AppStore'
#          Environment: 'AppStore' # Enables Approval Gate in ADO